*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 0.5px solid gray;
    
}
body{
    font-family: 'Poppins', sans-serif;
}
.headertop{
    width: 100%;
    background-color: gray;
    padding-left: 1.5rem;
    padding-right: 1.8rem;
    

}
.headertopleft{
  
    background-color: gray;
    color: rgb(6, 3, 3);
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 24px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 14px;
    
}
#flag{
    width: 1rem;
    height: 0.75rem;
}
.headertopright{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    background-color: gray;
    display: none;
    
    
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}
#name{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    
}
#logoimage{
    height: 30px;
    
}

.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}   


.navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}
.navlink{
    color: gray;
}
#menubutton{
    border: none;
    background-color: transparent;
    color: green;
}
.favlink {
    position: relative;
}
#fav4{
    background-color: green;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    font-size: 0.75rem;
    color: white;
    position:absolute;
    top: 0;
    right: 0;
    translate: 50% -50%;
}
.cartlink{
    position: relative;
}
#cart1{
    background-color: green;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    font-size: 0.75rem;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    translate: 50% -50%;
}
#searchbox{
    width: 100%;
    outline: none;
    border: none;
    
}
#searchicon{
    font-size: smaller;
}
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 500px;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: none;
}

#locationbox{
    width: 100%;
    outline: none;
    border: none;
}
#locationicon{
    font-size: smaller;
}
.locationbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    width: 30%;
    border: 0.5px solid gray;
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: none;
}
.headerbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
}

.alldepartmentsbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: green;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    display: none;
    transition: ease-in;
}    
.alldepartmentsbutton:hover{
    background-color: rgb(69, 149, 69);
}   
.alldepartmentlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding-top: 1rem;
    display: none;
}
.allbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    background-color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: ease-in;
}
.allbutton:hover{
    color: green;
}




   






/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)   {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    .headertopright{
        display: flex;
        
    }
    .headertopleft{
        display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center; 
   }
   .headertop{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
   .searchbar{
    display: flex;
   }
   #menubutton{display: none};

   
    
   

}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
   .locationbar{
    display: flex;
   }
   
   .alldepartmentsbutton{
    display: flex;
   }
   .alldepartmentlist{
    display: flex;
   }
    
}
    


/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}